.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.leaf {
  height: 3vh;
  width: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .leaf {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #012419;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.list {
  margin-left: 20vw;
  text-align: left;
  margin-bottom: 10vh;
}

.App-link {
  color: #02ac81;
  font-size: 15px;
  margin: 0.5vh 0;
}

.social > a {
  color: rgb(93, 93, 231);
  text-decoration: none;
  margin: 0 2vw;
}

.addItem {
  margin: 1vh 0;
}

.oneItem {
  margin: 0.5vh 0;
}
.button {
  margin: 0 1vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
